<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>


<!--<ion-content class="background-image" no-scroll padding>-->
<ion-content>


  <ion-item>
    <ion-label style="font-size: 12px; text-align: center">Lista dos Produtos mais próximos de vencer</ion-label>
  </ion-item>

  <ion-card *ngFor="let item of ( produtoList )">
    <ion-item>
      <ion-label> {{item.nome}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-card-content>
        Vencimento {{item.data | date: 'dd/MM/yyyy'}}
      </ion-card-content>
    </ion-item>

  </ion-card>

</ion-content>