<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Materias Prima</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-card *ngFor="let item of (materiaprimaList | async) ">
      <ion-item>
          <ion-label> {{item.nome}}</ion-label> 
          <ion-button slot="end" (click)="deleteMateriaPrima(item.id)"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></ion-button>
        </ion-item>

        <ion-item>    
          <ion-card-content>
              {{item.descricao}}
          </ion-card-content>
        </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
   <!-- fab placed to the (vertical) center and end -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/menu/nova-materia-prima" routerDirection="root" routerLinkActive="active">
      <ion-fab-button>
        <ion-icon name="add" routerLink="/menu/nova-materia-prima" routerDirection="root" routerLinkActive="active"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-footer>