<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Materia Prima</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" routerLink="/nova-materia-prima"></ion-icon>
      </ion-fab-button>
    </ion-fab>
 
</ion-content