<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <tr *ngFor="let item of ( produtoList | async)">
      <ion-card>
          <ion-card-header>
            <ion-card-subtitle><b>Nome:</b>  {{item.nome}} </ion-card-subtitle>
            <ion-card-subtitle><b>Descrição:</b>  {{item.descricao}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <tr><b>Materias Primas:</b> </tr>
              <tr *ngFor="let materiaprima of ( item.materiasprimas)"><b> ---> Nome:</b> {{materiaprima.nome}}</tr>
          </ion-card-content>
      </ion-card>
  </tr>
</ion-content>

<ion-footer>
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/menu/novo-produto" routerDirection="root" routerLinkActive="active">
       <ion-fab-button>
         <ion-icon name="add" routerLink="/menu/novo-produto" routerDirection="root" routerLinkActive="active"></ion-icon>
       </ion-fab-button>
   </ion-fab>
 </ion-footer>