<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<tr *ngFor="let item of ( produtoList | async)">
  <ion-card  (click)="exibeOpcoes(item.id)">
    <ion-item>
      <ion-label> {{item.nome}}</ion-label>
      <ion-button slot="end" (click)="deleteProduto(item.id)">
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-card-content style="font-size: 10px">
        <p style="font-size: 12px">{{item.descricao}}</p>
        <p style="font-size: 10px">Vence na data de {{item.data | date: 'dd/MM/yyyy'}}</p>
      </ion-card-content>
    </ion-item>

    <ion-item *ngFor="let materiaprima of (item.materiasprimas)">
      <ion-icon name="flask" slot="start" style="font-size: 14px"></ion-icon>
      <ion-label style="font-size: 10px">{{materiaprima.nome}}</ion-label>
    </ion-item>

  </ion-card>
</tr>
</ion-content>

<ion-footer>
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/menu/novo-produto" routerDirection="root"
    routerLinkActive="active">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/menu/novo-produto" routerDirection="root" routerLinkActive="active"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>